.footer-div{
    margin-top: 100px;
    background-color:#7510F7;
    width: 100%;
    height: 10rem;
}

.footer-avatar{
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-avatar{
    padding: 10px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin-right: 10px;
    fill: #7510F7;
    cursor: pointer;
}

.link-avatar:hover{
    transition: all .2s ease-in-out;
    fill: white;
    background-color: #7510F7;
    border: solid 1px white;
}


.link-avatar:last-of-type{
    margin-right: 0;
}

.copyright-paragraph{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-top: 2rem;
    font-family: Raleway;
    
}


.footer-div-contact{
    margin-top: 100px;
    background-color:#7510F7;
    width: 100%;
    height: 10rem;
    position: absolute;
    bottom: 0;
}